In [26]:
import pandas as pd
import numpy as np
import sys
import pickle
from copy import deepcopy

from gale_shapley import Multi_Slot, Single_Slot, gale_shapley_algorithm

NUM_CHOICES = 12
rng = np.random.default_rng(seed=7)

YEAR = 2020
DISTRICT_FILE = f'./{YEAR}/starting_data/{YEAR}_Fall_district.csv'
SCHOOL_FILE = f'./{YEAR}/starting_data/{YEAR}_Fall_school.csv'
HAVE_RESULTS = False

In [36]:
student_numbers_df = pd.read_csv(DISTRICT_FILE)[['School District', 'Category', 'Grade 9 Offers']].replace(',','', regex=True)
special_schools = pd.read_csv(SCHOOL_FILE)[['School DBN', 'School District', 'Category', 'Grade 9 Offers']].replace(',','', regex=True)
special_high_schools = ['10X445', '13K430', '05M692', '10X696', '28Q687', '31R605', '02M475', '14K449']

special_schools = special_schools[special_schools['School DBN'].isin(special_high_schools)]
student_numbers_df = student_numbers_df[student_numbers_df['Category'].str.contains('Residential') | student_numbers_df['Category'].str.contains('All S')]
# student_numbers_df['Grade 9 Applicants'] = student_numbers_df['Grade 9 Applicants'].as_type('int')
#Now we count the total number of applicants from each district
totals = student_numbers_df[student_numbers_df['Category'] == 'All Students'].set_index('School District', drop=False)#.astype('int32')
totals

                 School District      Category Grade 9 Offers
School District
1                              1  All Students           1172
2                              2  All Students          10323
3                              3  All Students           2028
4                              4  All Students           1309
5                              5  All Students           1125
6                              6  All Students           1536
7                              7  All Students           1713
8                              8  All Students           1801
9                              9  All Students           2337
10                            10  All Students           4535
11                            11  All Students           2555
12                            12  All Students           1255
13                            13  All Students           3140
14                            14  All Students           2189
15                            15  All Students           1837
16                            16  All Students            556
17                            17  All Students           2121
18                            18  All Students            903
19                            19  All Students           1723
20                            20  All Students           3329
21                            21  All Students           3346
22                            22  All Students           3453
23                            23  All Students            348
24                            24  All Students           3673
25                            25  All Students           2793
26                            26  All Students           4043
27                            27  All Students           2906
28                            28  All Students           3880
29                            29  All Students           1214
30                            30  All Students           2760
31                            31  All Students           5402
32                            32  All Students            835

In [43]:
special_schools[special_schools['Category'] == 'All Students']['Grade 9 Offers'].astype('int32').sum()

4265

In [28]:
replace_on_row = lambda x : rng.integers(low=0, high=5, endpoint=True) if x == 's' else x

student_numbers_df['Grade 9 Offers'] = student_numbers_df['Grade 9 Offers'].apply(replace_on_row).astype('int32')
student_numbers_df[student_numbers_df['Category'] == 'All Students'].sum()
                    #['Grade 9 Applicants'].sum())

School District                                                  528
Category           All StudentsAll StudentsAll StudentsAll Studen...
Grade 9 Offers                                                 82140
dtype: object

In [10]:
non_s_totals = student_numbers_df[(~student_numbers_df['Grade 9 Applicants'].str.contains('s')) & student_numbers_df['Category'].str.contains('Residential')]#.groupby('School District').count())
non_s_totals = non_s_totals.astype({'Grade 9 Applicants':'int32'})
non_s_totals.groupby('School District').sum()

                 Grade 9 Applicants
School District
1                             11072
2                             36285
3                             14174
4                              8873
5                             17876
6                              5172
7                              7381
8                              5359
9                              9016
10                            23057
11                             8790
12                             4969
13                            23936
14                            15631
15                            10229
16                             2501
17                             7306
18                             3125
19                             5429
20                             8941
21                            10201
22                            12659
23                             1248
24                            14877
25                            13318
26                            12081
27                             7538
28                            21274
29                             3479
30                            11257
31                            12524
32                             3288

In [2]:
non_s_totals = non_s_totals.groupby('School District').sum()
non_s_totals['Grade 9 Applicants'] = totals['Grade 9 Applicants'].astype('int32') - non_s_totals['Grade 9 Applicants'] #non_s_totals.join(totals, lsuffix='non_s')
print(non_s_totals)

                 School District      Category Grade 9 Applicants
School District
1                              1  All Students              11072
2                              2  All Students              36220
3                              3  All Students              14174
4                              4  All Students               8873
5                              5  All Students              17858
6                              6  All Students               5172
7                              7  All Students               7395
8                              8  All Students               5367
9                              9  All Students               9020
10                            10  All Students              23041
11                            11  All Students               8790
12                            12  All Students               5005
13                            13  All Students              23917
14                            14  All Students              15629
15                            15  All Students              10233
16                            16  All Students               2510
17                            17  All Students               7306
18                            18  All Students               3137
19                            19  All Students               5429
20                            20  All Students               8963
21                            21  All Students              10210
22                            22  All Students              12664
23                            23  All Students               1291
24                            24  All Students              14877
25                            25  All Students              13318
26                            26  All Students              12097
27                            27  All Students               7543
28                            28  All Students              21242
29                            29  All Students               3487
30                            30  All Students              11257
31                            31  All Students              12505
32                            32  All Students               3289
                 Category  Grade 9 Applicants
School District
7                       4                   4
8                       2                   2
9                       1                   1
12                     12                  12
14                      1                   1
15                      1                   1
16                      5                   5
18                      3                   3
20                      6                   6
21                      2                   2
22                      1                   1
23                     15                  15
26                      6                   6
27                      1                   1
29                      4                   4
32                      1                   1
                 Grade 9 Applicants
School District
1                                 0
2                               -65
3                                 0
4                                 0
5                               -18
6                                 0
7                                14
8                                 8
9                                 4
10                              -16
11                                0
12                               36
13                              -19
14                               -2
15                                4
16                                9
17                                0
18                               12
19                                0
20                               22
21                                9
22                                5
23                               43
24                                0
25                                0
26                               16
27                                5
28                              -32
29                                8
30                                0
31                              -19
32                                1

<ipython-input-2-aef23ef23e2f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_s_totals['Grade 9 Applicants'] = non_s_totals['Grade 9 Applicants'].astype('int32')